<div class="modal-header">
    <div class="modal-title" >
    <h1 style="text-align:center;"><strong>Connect To UMA</strong></h1>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
          <form action="">
              <div class="form-group">
                <label for="login-email" class="hide">Email</label>
                <input type="email" class="form-control form-group-lg" id="login-email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="login-password" class="hide">Password</label>
                <input type="password" class="form-control form-group-lg" id="login-password" placeholder="Password">
              </div>
              <div class="form-group">
                  <label for="login-password" class="hide">Confirm Password</label>
                  <input type="password" class="form-control form-group-lg" id="login-password" placeholder="Confirm Password">
                </div>
              <div class="form-group">
                <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">submit</button>
               <span (click)="activeModal.close('Close click')" style="float: right;">
                  <a (click)="openLoginModel()" class="c-btn-forgot">Back To Login</a>
               </span>
              </div>
          
            </form>
       </div>
     </div>
   </div>
  </div>
  <div class="modal-footer">
  </div>