.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.c-btn-forgot {
    margin-top: 18px;
    float: right;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
}
 .modal-header .modal-title {
    border-radius: 2px 2px 0 0;
    padding: 0;
}
.hide{
    display: none;
}

