<aside class="ms-footbar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 ms-footer-col">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Cryptovpay</h3>
          <ul class="list-unstyled ms-icon-list">
            <li>
              <a href="comingsoon.html" target="_blank">
                <i class="zmdi zmdi-home"></i> Personal account</a>
            </li>
            <li>
              <a href="comingsoon.html" target="_blank">
                <i class="zmdi zmdi-image-o"></i> Merchant account</a>
            </li>
            <li>
              <a href="comingsoon.html" target="_blank">
                <i class="zmdi zmdi-favorite-outline"></i> Conditions and fees</a>
            </li>
            <li>
              <a href="comingsoon.html" target="_blank">
                <i class="zmdi zmdi-face"></i> Affiliate program</a>
            </li>
            <li>
              <a href="comingsoon.html" target="_blank">
                <i class="zmdi zmdi-help"></i> Help Center</a>
            </li>
           <li>
              <a href="contact_us.html">
                <i class="zmdi zmdi-email"></i> Contact</a>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="col-md-3 col-sm-5 ms-footer-col ms-footer-alt-color">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Utilities</h3>
            <ul class="list-unstyled ms-icon-list">
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-home"></i> Converter</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-image-o"></i> Exchange Rates</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-favorite-outline"></i> Winners & Losers</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-face"></i> Cryptocurrency Exchanges</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-help"></i> Developer API</a>
      </li>
     <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-email"></i> Widgets</a>
      </li>
          </ul>
        </div>
      </div>
<div class="col-md-3 col-sm-5 ms-footer-col">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Online Wallet</h3>
            <ul class="list-unstyled ms-icon-list">
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-home"></i> Online Bitcoin wallet</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-image-o"></i> Online Litecoin wallet</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-favorite-outline"></i> Online Monero wallet</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-face"></i> Online Dash wallet</a>
      </li>
      <li>
      <a href="comingsoon.html" target="_blank">
        <i class="zmdi zmdi-help"></i> Online Zcash wallet</a>
      </li>
     
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 ms-footer-col ms-footer-alt-color ms-footer-text-right">
        <div class="ms-footbar-block">
          <div class="ms-footbar-title">
            <h3 class="no-m ms-site-title">Contact</h3>
          </div>
          <address class="no-mb">
            <p>
              <i class="color-danger-light zmdi zmdi-pin mr-1"></i> 00, Lorem Lis Street, Orange</p>
            <p>
              <i class="color-warning-light zmdi zmdi-map mr-1"></i> California, US </p>
            <p>
              <i class="color-info-light zmdi zmdi-email mr-1"></i>
              <a href="mailto:joe@example.com">info@cryptovpay.com</a>
            </p>
            <p>
              <i class="color-royal-light zmdi zmdi-phone mr-1"></i>+ 000 000 0000  </p>
           
          </address>
        </div>
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Social Media</h3>
          <div class="ms-footbar-social">
            <a href="https://www.cryptovpay.com/" target="_blank" class="btn-circle btn-facebook">
              <i class="zmdi zmdi-facebook"></i>
            </a>
            <a href="https://www.cryptovpay.com/" target="_blank" class="btn-circle btn-twitter">
              <i class="zmdi zmdi-twitter"></i>
            </a>
            <a href="https://www.cryptovpay.com/" target="_blank" class="btn-circle btn-youtube">
              <i class="zmdi zmdi-youtube"></i>
            </a>
            <br>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
  <footer class="ms-footer">
    <div class="container">
      <p>Copyright &copy; CryptoVpay 2017</p>
    </div>
  </footer>
 